.header_page {
    width: 88vw;
    height: 10vh;
    padding: 0 6vw;
    margin: 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: rgb(72, 65, 52);
}

.header_nav_box {
    width: 30vw;
    height: 4vh;
    margin-bottom: 1.5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}