.LocationList_page {
    width: 88vw;
    height: auto;
    padding: 4vh 6vw;
    margin: 0;
}

.LocationList_title {
    margin-bottom: 2vh;
    
    font-size: 4vh;
    font-weight: bold;
}

.LocationList_listBox {
    width: 88vw;
    height: auto;
    
    background-color: antiquewhite;
}

.LocationList_table {
    width: 88vw;
    
    background-color: aliceblue;
}